body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content:right;
  height: 100vh;
  margin-top: 20px;
  margin-left: 100px;
}
nav.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.back-arrow {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.back-arrow:hover{
  color: #0b0c0d;
}
.container {
  margin-top: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.folder-icon {
  margin-right: 10px;
  width: 24px; /* Adjust the width based on your image */
  height: 24px; /* Adjust the height based on your image */
}
ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
ul li a:hover {
  color: #0b0c0d;
}

.subject-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  align-items: flex-start;
  margin-top: 15px;
  color: #000;
}
.subject-list>div{
  margin-right: 10px;
}
.subject-item {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items:normal;

}

.subject-name{
  color: #000;
}
.folder-icon {
  width: 50px; 
  height: 50px; 
  margin-bottom: 1px;
}
.add-folder-icon {
  width: 30px; 
  height: 30px; 
  margin-bottom: 1px;
}
.add-subject{
 margin-top: 20px;

}
.empty-folder {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.add-subject{
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
}