#note-list {
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  margin: 5rem auto;
}

#note-list a {
  text-decoration: none;
}

.note {
  width: 30%;
  background-color: #f3eded0a;
  box-shadow: 0 2px 4px rgba(7, 6, 6, 0.978);
  padding: 1.5rem;
  border-radius: 4px;
  animation: fade-blur-in 1s ease-out forwards;
  transition: all 0.3s ease-out;
}

.note:hover {
  background-color: #9c9a9a;
  transform: translateY(-0.25rem);
}


.note h2 {
  margin: 0 0 0.5rem 0;
  color: #000;
}

.note p {
  margin: 0;
  color: #000;;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


.top-left {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1rem;
  color: #000;
}

.add-new-note{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;
}

.add-note-icon{
  width: 50px; 
  height: 50px;
  margin-bottom: 1px;
}


.empty-folder {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}
.sub_folder-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  margin: 2rem auto;
  margin-left: 2rem;
}
.sub_folder-name{
  color: #000;
}
.sub_folder-name:hover {
  background-color: #e7dede;
}


.add-folder-icon {
  width: 30px; 
  height: 30px; 
  margin-bottom: 1px;
}
.add-folder{
 margin-top: 20px;
 position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
.back-arrow{
  color: #000;
  font-weight: bold;
  
}